<header>
  <div class="navbar shadow-sm" style="background-color: #f6f6f6;">
      <div class="navbar-brand align-item-center d-flex">
        <a routerLink="/dashboard" routerLinkActive="active"><img src="../../assets/images/hashedin.png" style="margin-left: 25px;width: 50%;" class="img1" alt="HashedIn_byDeloitte-01">
        </a></div>
      <div  style="background-color:f6f6f6 !important;margin-right: 20px;">
        <a style="color: black;margin-right: 12px;text-decoration: none;font-size: small;" routerLink="/dashboard" routerLinkActive="active">COURSES</a>
        <a style="color: black;margin-right: 30px;text-decoration: none;font-size: small;" routerLink="/wishlist" routerLinkActive="active">MY WISHLIST</a>
        <a routerLink="/cart-detail" routerLinkActive="active"><i style="font-size: 22px;" class="fas fa-cart-plus"></i></a>
        <div style="font-size: 7px;margin-right: 12px;" class="badge bg-danger"></div>
        <a routerLink="/user-detail" routerLinkActive="active"><i style="font-size: 22px;" class="fas fa-user "></i>
      </a></div>
  </div>
</header>

<router-outlet></router-outlet>
